.noticias_comunicacion.inSections
	h1 Noticias
	.holdNotes
		.safeIn-area
			.section-half
				.noticiasInfo.center-all
					.infoIn
						p Realizamos la instalación de  Plantas de Tratamientos 
					.date
						p 25/09/2014
					a(href="../noticias-full/")
						.imgSect
							+img_box({type:'medio', elId:'home_main-1', locate:'home', name:'img_gd', infoBtn:'Leer más'})
			.section-half
				.noticiasInfo.center-all
					.infoIn
						p Realizamos la instalación de  Plantas de Tratamientos 
					.date
						p 25/09/2014
					a(href="../noticias-full/video.html")
						.imgSect
							+img_box({type:'medio', elId:'home_main-2', locate:'home', name:'img_gd', infoBtn:'Leer más'})

			.section-third
				.noticiasInfo.center-all
					.infoIn
						p Presentacón portal Gobierno Abierto.
					.date
						p 25/09/2014
					a(href="../noticias-full/video-img.html")
						+img_box({type:'tercio', elId:'home_main-5', locate:'home', name:'img_ch', infoBtn:'Leer nota'})
			.section-third
				.noticiasInfo.center-all
					.infoIn
						p Presentacón portal Gobierno Abierto.
					.date
						p 25/09/2014
					a(href="../noticias-full/")
						+img_box({type:'tercio', elId:'home_main-6', locate:'home', name:'img_ch', infoBtn:'Leer nota'})
			.section-third
				.noticiasInfo.center-all
					.infoIn
						p Presentacón portal Gobierno Abierto.
					.date
						p 25/09/2014
					a(href="../noticias-full/video.html")
						+img_box({type:'tercio', elId:'home_main-7', locate:'home', name:'img_ch', infoBtn:'Leer nota'})
			.section-third
				.noticiasInfo.center-all
					.infoIn
						p Presentacón portal Gobierno Abierto.
					.date
						p 25/09/2014
					a(href="../noticias-full/video-img.html")
						+img_box({type:'tercio', elId:'home_main-8', locate:'home', name:'img_ch', infoBtn:'Leer nota'})
			.section-third
				.noticiasInfo.center-all
					.infoIn
						p Ley de Acceso a la información.
					.date
						p 25/09/2014
					a(href="../noticias-full/")
						+img_box({type:'tercio', elId:'home_main-9', locate:'home', name:'img_ch', infoBtn:'Leer nota'})
			.section-third

				.noticiasInfo.center-all
					.infoIn
						p Construcción de Red Atarjeas Piedras negras
					.date
						p 25/09/2014
					a(href="../noticias-full/video.html")
						+img_box({type:'tercio', elId:'home_main-10', locate:'home', name:'img_ch', infoBtn:'Leer nota'})

