include mixins/_btns.jade
doctype html
html(lang="es")
	include includes/_headers
	body
		#wrapper
			include includes/_nav
			include includes/home/_home
			include includes/_footer
		include includes/_scripts