nav {
  width: 100%;
  height: 90px;
  position: relative;
  z-index: 3; }
  nav .topNav {
    width: 100%;
    height: 28px;
    position: relative;
    padding-top: 5px; }
    nav .topNav .innertop {
      width: 135px;
      height: 100%;
      position: relative;
      float: right; }
      nav .topNav .innertop .btn-social {
        width: 25px;
        height: 20px;
        position: relative;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 20px; }
        nav .topNav .innertop .btn-social.fb_top {
          background-image: url("../assets/images/gui/home/fb_share.png"); }
        nav .topNav .innertop .btn-social.tt_top {
          background-image: url("../assets/images/gui/home/tt_share.png"); }
        nav .topNav .innertop .btn-social.yt_top {
          background-image: url("../assets/images/gui/home/yt_share.png"); }
        nav .topNav .innertop .btn-social:hover {
          opacity: 0.9; }
  nav .btmNav {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #ededed; }
    nav .btmNav ul {
      width: 575px;
      height: 15px;
      position: relative;
      float: right;
      padding-left: 0;
      margin-top: 23px; }
      nav .btmNav ul li {
        float: left;
        margin-right: 25px; }
        nav .btmNav ul li:hover {
          color: #363636; }
  nav .logo {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 30px; }
    nav .logo img {
      width: 100%;
      height: 100%; }
  nav .underNav {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 85px;
    left: 0;
    background-color: #e5e5e5;
    overflow: hidden; }
    nav .underNav .innerSub {
      width: 450px;
      height: 92px;
      position: relative;
      margin: 0 auto;
      margin-top: 25px;
      display: none; }
      nav .underNav .innerSub#comunicacion-top_sub, nav .underNav .innerSub#municipios-top_sub {
        width: 310px; }
      nav .underNav .innerSub .btns_sub {
        width: 150px;
        height: 100%;
        position: relative;
        float: left; }
        nav .underNav .innerSub .btns_sub .imgInner {
          width: 62px;
          height: 62px;
          position: relative;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 8px; }
          nav .underNav .innerSub .btns_sub .imgInner#quienes_somos-img {
            background-image: url("../assets/images/gui/home/sub_quien.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#directorio-img {
            background-image: url("../assets/images/gui/home/sub_direct.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#organigrama-img {
            background-image: url("../assets/images/gui/home/sub_organi.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#noticias-img {
            background-image: url("../assets/images/gui/comunicacion/sub_noti.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#galeria-img {
            background-image: url("../assets/images/gui/comunicacion/sub_gal.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#sitios_de_interes-img {
            background-image: url("../assets/images/gui/municipio/sub_sitios.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#transparencia-img {
            background-image: url("../assets/images/gui/municipio/sub_trans.png"); }
        nav .underNav .innerSub .btns_sub p {
          font-weight: bold;
          text-align: center; }
      nav .underNav .innerSub#directorio-sub {
        width: 70px;
        margin-left: 95px;
        margin-right: 95px; }
      nav .underNav .innerSub#organigrama-sub {
        width: 82px; }

.top_cover {
  width: 100%;
  height: 440px;
  position: relative;
  background-color: #ffffff; }
  .top_cover img {
    width: 100%;
    position: relative; }
  .top_cover .holdLogos {
    width: 100%;
    height: 80px;
    position: relative; }
    .top_cover .holdLogos .inLogo {
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      background-repeat: no-repeat;
      background-position: center; }

.intro {
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .intro .copyIntro, .intro .imgIntro {
    width: 40%;
    height: 320px;
    float: left;
    padding-left: 5%;
    position: relative;
    padding-top: 30px; }
    .intro .copyIntro h1, .intro .imgIntro h1 {
      margin-bottom: 30px;
      text-align: left;
      margin-top: 35px; }
    .intro .copyIntro p, .intro .imgIntro p {
      margin-left: 20px;
      margin-bottom: 15px; }

.more-home, .galeria-home {
  background-color: #d2d2d2; }

.noticias-home {
  height: 470px; }
  .noticias-home h1 {
    color: #1d1d1d; }

.more-home {
  height: 440px; }

.medio_img {
  width: 450px;
  height: 300px;
  position: relative;
  background-color: #ffffff; }
  .medio_img .in {
    width: 440px;
    height: 290px;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden; }
    .medio_img .in img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.tercio_img {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #ffffff; }
  .tercio_img .in {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden; }
    .tercio_img .in img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.medio_img .in .hover_img, .tercio_img .in .hover_img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }
  .medio_img .in .hover_img .btn_plac, .tercio_img .in .hover_img .btn_plac {
    width: 120px;
    height: 30px;
    background-color: #e73541; }
    .medio_img .in .hover_img .btn_plac p, .tercio_img .in .hover_img .btn_plac p {
      text-align: center;
      font-size: 12px;
      color: #f0f0f2;
      margin: 0 auto;
      margin-top: 7px; }

.inPicInfo {
  width: 450px;
  height: 380px; }
  .inPicInfo h3 {
    color: #e73541;
    font-weight: 700; }
  .inPicInfo p {
    height: 55px;
    width: 100%;
    position: relative; }

.noticiasInfo {
  width: 300px;
  height: 360px; }
  .noticiasInfo .infoIn {
    width: 100%;
    height: 40px;
    position: relative; }
    .noticiasInfo .infoIn p {
      font-weight: 700;
      font-style: normal;
      color: #1d1d1d; }
  .noticiasInfo .date {
    width: 100%;
    height: 20px;
    position: relative; }
    .noticiasInfo .date p {
      font-size: 11px;
      color: #1d1d1d;
      font-style: italic; }
  .noticiasInfo .infoNoticias {
    width: 100%;
    height: auto;
    position: relative; }
    .noticiasInfo .infoNoticias p {
      color: #1d1d1d; }
  .noticiasInfo .btnHold {
    width: 120px;
    height: 30px;
    position: relative;
    float: right;
    margin-top: 20px; }
    .noticiasInfo .btnHold .btn_plac {
      width: 120px;
      height: 30px;
      background-color: #d2d2d2; }
      .noticiasInfo .btnHold .btn_plac p {
        text-align: center;
        font-size: 12px;
        color: #1d1d1d;
        margin: 0 auto;
        margin-top: 7px;
        font-weight: 700; }

.quines_somos {
  width: 100%;
  height: auto; }
  .quines_somos .titleSect {
    width: 100%;
    height: 205px;
    padding-top: 35px;
    background-color: #ffffff; }
    .quines_somos .titleSect h1 {
      margin-bottom: 35px; }
    .quines_somos .titleSect .holdMids {
      width: 960px;
      height: 100px;
      position: relative;
      margin: 0 auto; }
      .quines_somos .titleSect .holdMids .colstxt {
        padding-left: 30px;
        margin-right: 30px;
        width: 420px; }
        .quines_somos .titleSect .holdMids .colstxt p {
          color: #1d1d1d; }
        .quines_somos .titleSect .holdMids .colstxt span {
          font-weight: 700;
          color: #1d1d1d; }

footer {
  width: 100%;
  height: 50px;
  background-color: #ededed; }
  footer p {
    font-size: 12px;
    margin-left: 30px;
    top: 20px;
    position: relative; }

html, body {
  margin: 0 auto;
  min-width: 1000px;
  width: 100%;
  min-height: 800px;
  position: relative;
  font-family: "Lato";
  background-color: #e5e5e5; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #6e6e6e;
  text-decoration: none; }

p {
  margin: 0 auto; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: #fff;
  left: -3px; }

h2, h3 {
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
  color: #363636; }

h3 {
  font-size: 20px; }

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #e73541;
  font-style: normal;
  font-weight: 700; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

section {
  width: 100%;
  height: 360px;
  position: relative;
  padding-top: 25px; }

.section-half, .section-third {
  height: 85%;
  position: relative;
  float: left; }

.section-half {
  width: 50%; }

.section-third {
  width: 33.3%; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.btn-borders {
  border-radius: 5px; }

.shodowiT {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(50, 50, 50, 0.53);
  -moz-box-shadow: 0px 0px 5px -1px rgba(50, 50, 50, 0.53);
  box-shadow: 0px 0px 5px -1px rgba(50, 50, 50, 0.53); }

#wrapper {
  width: 1000px;
  height: auto;
  margin: 0 auto; }
  #wrapper .redTag {
    width: 100%;
    height: 125px;
    position: relative;
    background-color: #e73541;
    padding-top: 25px; }
    #wrapper .redTag h3 {
      text-align: center;
      color: #f0f0f2; }
    #wrapper .redTag .holdinfo {
      width: 810px;
      height: 85px;
      position: relative;
      margin: 0 auto; }
      #wrapper .redTag .holdinfo .braket {
        width: 30px;
        height: 85px;
        position: relative;
        float: left;
        background-repeat: no-repeat;
        background-position: center; }
        #wrapper .redTag .holdinfo .braket.bleft {
          background-image: url("../assets/images/gui/home/bl.png"); }
        #wrapper .redTag .holdinfo .braket.bright {
          background-image: url("../assets/images/gui/home/br.png"); }
      #wrapper .redTag .holdinfo p {
        width: 710px;
        position: relative;
        float: left;
        text-align: center;
        color: #f0f0f2;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px; }
