@charset "UTF-8";
nav {
  width: 100%;
  height: 90px;
  position: relative;
  z-index: 3; }
  nav .topNav {
    width: 100%;
    height: 28px;
    position: relative;
    padding-top: 5px; }
    nav .topNav .innertop {
      width: 135px;
      height: 100%;
      position: relative;
      float: right; }
      nav .topNav .innertop .btn-social {
        width: 25px;
        height: 20px;
        position: relative;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 20px; }
        nav .topNav .innertop .btn-social.fb_top {
          background-image: url("../assets/images/gui/home/fb_share.png"); }
        nav .topNav .innertop .btn-social.tt_top {
          background-image: url("../assets/images/gui/home/tt_share.png"); }
        nav .topNav .innertop .btn-social.yt_top {
          background-image: url("../assets/images/gui/home/yt_share.png"); }
        nav .topNav .innertop .btn-social:hover {
          opacity: 0.9; }
  nav .btmNav {
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #ededed; }
    nav .btmNav ul {
      width: 575px;
      height: 15px;
      position: relative;
      float: right;
      padding-left: 0;
      margin-top: 23px; }
      nav .btmNav ul li {
        float: left;
        margin-right: 25px; }
        nav .btmNav ul li:hover {
          color: #363636; }
  nav .logo {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 30px; }
    nav .logo img {
      width: 100%;
      height: 100%; }
  nav .underNav {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 85px;
    left: 0;
    background-color: #e5e5e5;
    overflow: hidden; }
    nav .underNav .innerSub {
      width: 450px;
      height: 92px;
      position: relative;
      margin: 0 auto;
      margin-top: 25px;
      display: none; }
      nav .underNav .innerSub#comunicacion-top_sub, nav .underNav .innerSub#municipios-top_sub {
        width: 310px; }
      nav .underNav .innerSub .btns_sub {
        width: 150px;
        height: 100%;
        position: relative;
        float: left; }
        nav .underNav .innerSub .btns_sub .imgInner {
          width: 62px;
          height: 62px;
          position: relative;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 8px; }
          nav .underNav .innerSub .btns_sub .imgInner#quienes_somos-img {
            background-image: url("../assets/images/gui/home/sub_quien.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#directorio-img {
            background-image: url("../assets/images/gui/home/sub_direct.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#organigrama-img {
            background-image: url("../assets/images/gui/home/sub_organi.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#noticias-img {
            background-image: url("../assets/images/gui/comunicacion/sub_noti.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#galeria-img {
            background-image: url("../assets/images/gui/comunicacion/sub_gal.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#sitios_de_interes-img {
            background-image: url("../assets/images/gui/municipio/sub_sitios.png"); }
          nav .underNav .innerSub .btns_sub .imgInner#transparencia-img {
            background-image: url("../assets/images/gui/municipio/sub_trans.png"); }
        nav .underNav .innerSub .btns_sub p {
          font-weight: bold;
          text-align: center; }
      nav .underNav .innerSub#directorio-sub {
        width: 70px;
        margin-left: 95px;
        margin-right: 95px; }
      nav .underNav .innerSub#organigrama-sub {
        width: 82px; }

.top_cover {
  width: 100%;
  height: 440px;
  position: relative;
  background-color: #ffffff; }
  .top_cover img {
    width: 100%;
    position: relative; }
  .top_cover .holdLogos {
    width: 100%;
    height: 80px;
    position: relative; }
    .top_cover .holdLogos .inLogo {
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      background-repeat: no-repeat;
      background-position: center; }

.intro {
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .intro .copyIntro, .intro .imgIntro {
    width: 40%;
    height: 320px;
    float: left;
    padding-left: 5%;
    position: relative;
    padding-top: 30px; }
    .intro .copyIntro h1, .intro .imgIntro h1 {
      margin-bottom: 30px;
      text-align: left;
      margin-top: 35px; }
    .intro .copyIntro p, .intro .imgIntro p {
      margin-left: 20px;
      margin-bottom: 15px; }

.more-home, .galeria-home {
  background-color: #d2d2d2; }

.noticias-home {
  height: 470px; }
  .noticias-home h1 {
    color: #1d1d1d; }

.more-home {
  height: 440px; }

.big_img {
  width: 1000px;
  height: 360px;
  position: relative;
  background-color: #ffffff; }
  .big_img .in {
    width: 990px;
    height: 350px;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden; }
    .big_img .in img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.medio_img {
  width: 450px;
  height: 300px;
  position: relative;
  background-color: #ffffff; }
  .medio_img .in {
    width: 440px;
    height: 290px;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden; }
    .medio_img .in img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.tercio_img {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #ffffff; }
  .tercio_img .in {
    width: 290px;
    height: 290px;
    position: absolute;
    top: 5px;
    left: 5px;
    overflow: hidden; }
    .tercio_img .in img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }

.medio_img .in .hover_img, .tercio_img .in .hover_img, .big_img .in .hover_img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }
  .medio_img .in .hover_img .btn_plac, .tercio_img .in .hover_img .btn_plac, .big_img .in .hover_img .btn_plac {
    width: 120px;
    height: 30px;
    background-color: #e73541; }
    .medio_img .in .hover_img .btn_plac p, .tercio_img .in .hover_img .btn_plac p, .big_img .in .hover_img .btn_plac p {
      text-align: center;
      font-size: 12px;
      color: #f0f0f2;
      margin: 0 auto;
      margin-top: 7px; }

.inPicInfo {
  width: 450px;
  height: 380px; }
  .inPicInfo h3 {
    color: #e73541;
    font-weight: 700; }
  .inPicInfo p {
    height: 55px;
    width: 100%;
    position: relative; }

.noticiasInfo, .noticiasInfoFull {
  width: 300px;
  height: 360px; }
  .noticiasInfo .infoIn, .noticiasInfoFull .infoIn {
    width: 100%;
    height: 40px;
    position: relative; }
    .noticiasInfo .infoIn p, .noticiasInfoFull .infoIn p {
      font-weight: 700;
      font-style: normal;
      color: #1d1d1d; }
  .noticiasInfo .date, .noticiasInfoFull .date {
    width: 100%;
    height: 20px;
    position: relative; }
    .noticiasInfo .date p, .noticiasInfoFull .date p {
      font-size: 11px;
      color: #1d1d1d;
      font-style: italic; }
  .noticiasInfo .infoNoticias, .noticiasInfoFull .infoNoticias {
    width: 100%;
    height: auto;
    position: relative; }
    .noticiasInfo .infoNoticias p, .noticiasInfoFull .infoNoticias p {
      color: #1d1d1d; }
  .noticiasInfo .btnHold, .noticiasInfoFull .btnHold {
    width: 120px;
    height: 30px;
    position: relative;
    float: right;
    margin-top: 20px; }
    .noticiasInfo .btnHold .btn_plac, .noticiasInfoFull .btnHold .btn_plac {
      width: 120px;
      height: 30px;
      background-color: #d2d2d2; }
      .noticiasInfo .btnHold .btn_plac p, .noticiasInfoFull .btnHold .btn_plac p {
        text-align: center;
        font-size: 12px;
        color: #1d1d1d;
        margin: 0 auto;
        margin-top: 7px;
        font-weight: 700; }

.noticiasInfoFull {
  width: 980px;
  height: 450px;
  position: relative; }

.quines_somos {
  width: 100%;
  height: auto; }
  .quines_somos .titleSect {
    width: 100%;
    height: 205px;
    padding-top: 35px;
    background-color: #ffffff; }
    .quines_somos .titleSect h1 {
      margin-bottom: 35px; }
    .quines_somos .titleSect .holdMids {
      width: 960px;
      height: 100px;
      position: relative;
      margin: 0 auto; }
      .quines_somos .titleSect .holdMids .colstxt {
        padding-left: 30px;
        margin-right: 30px;
        width: 420px; }
        .quines_somos .titleSect .holdMids .colstxt p {
          color: #1d1d1d; }
        .quines_somos .titleSect .holdMids .colstxt span {
          font-weight: 700;
          color: #1d1d1d; }
  .quines_somos .redTag {
    height: 85px !important;
    padding-top: 5px !important; }
    .quines_somos .redTag .holdinfo {
      width: 560px !important; }
    .quines_somos .redTag p {
      width: 460px !important;
      font-size: 22px;
      margin-top: 25px !important; }
  .quines_somos .holdlowSect {
    height: 350px; }
    .quines_somos .holdlowSect .icono_sect {
      width: 100%;
      height: 130px;
      position: relative;
      padding-top: 40px; }
      .quines_somos .holdlowSect .icono_sect .circle {
        width: 80px;
        height: 80px;
        position: relative;
        background-color: #e73541;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center; }
        .quines_somos .holdlowSect .icono_sect .circle#mision {
          background-image: url("../assets/images/gui/quienes_somos/mision.png"); }
        .quines_somos .holdlowSect .icono_sect .circle#vision {
          background-image: url("../assets/images/gui/quienes_somos/vision.png"); }
        .quines_somos .holdlowSect .icono_sect .circle#objetivo {
          background-image: url("../assets/images/gui/quienes_somos/objetivo.png"); }
      .quines_somos .holdlowSect .icono_sect h3 {
        margin-top: 15px;
        text-align: center; }
    .quines_somos .holdlowSect .info {
      width: 90%;
      margin: 0 auto;
      text-align: center; }

.directorio_somos, .inSections, .noticias_comunicacion {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  position: relative; }
  .directorio_somos .subNav, .inSections .subNav, .noticias_comunicacion .subNav {
    width: 100%;
    height: 40px;
    background-color: #d2d2d2;
    position: relative;
    margin-top: -12px;
    margin-bottom: 40px; }
    .directorio_somos .subNav ul, .inSections .subNav ul, .noticias_comunicacion .subNav ul {
      width: 760px;
      height: 25px;
      position: relative;
      top: 7px;
      margin-left: 190px; }
      .directorio_somos .subNav ul .yes-act li, .inSections .subNav ul .yes-act li, .noticias_comunicacion .subNav ul .yes-act li {
        color: #e73541; }
      .directorio_somos .subNav ul li, .inSections .subNav ul li, .noticias_comunicacion .subNav ul li {
        width: 100px;
        float: left;
        text-align: center;
        line-height: 13px;
        margin-right: 10px;
        margin-left: 10px; }
        .directorio_somos .subNav ul li:hover, .inSections .subNav ul li:hover, .noticias_comunicacion .subNav ul li:hover {
          color: #e73541; }
      .directorio_somos .subNav ul #general-dir li, .directorio_somos .subNav ul #tecnica-dir li, .inSections .subNav ul #general-dir li, .inSections .subNav ul #tecnica-dir li, .noticias_comunicacion .subNav ul #general-dir li, .noticias_comunicacion .subNav ul #tecnica-dir li {
        width: 70px; }
      .directorio_somos .subNav ul #juridica-dir li, .inSections .subNav ul #juridica-dir li, .noticias_comunicacion .subNav ul #juridica-dir li {
        width: 110px; }
      .directorio_somos .subNav ul #coordinacion-dir li, .inSections .subNav ul #coordinacion-dir li, .noticias_comunicacion .subNav ul #coordinacion-dir li {
        width: 190px; }
  .directorio_somos h1, .inSections h1, .noticias_comunicacion h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%; }
  .directorio_somos h3, .inSections h3, .noticias_comunicacion h3 {
    text-align: center;
    margin-bottom: 25px; }
  .directorio_somos .holdDirectorio, .inSections .holdDirectorio, .noticias_comunicacion .holdDirectorio {
    width: 960px;
    height: 720px;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff; }
    .directorio_somos .holdDirectorio .holdIntegrante, .inSections .holdDirectorio .holdIntegrante, .noticias_comunicacion .holdDirectorio .holdIntegrante {
      width: 220px;
      height: 330px;
      padding: 10px;
      position: relative;
      float: left;
      cursor: pointer;
      overflow: hidden; }
      .directorio_somos .holdDirectorio .holdIntegrante .holdBotu, .inSections .holdDirectorio .holdIntegrante .holdBotu, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 10px; }
        .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .mainPic, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo, .inSections .holdDirectorio .holdIntegrante .holdBotu .mainPic, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .mainPic, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden; }
          .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .mainPic img, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo img, .inSections .holdDirectorio .holdIntegrante .holdBotu .mainPic img, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo img, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .mainPic img, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo img {
            height: 100%;
            position: absolute;
            top: 0; }
        .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo {
          background-color: #a8232c;
          color: #f0f0f2 !important;
          opacity: 1;
          left: 100%; }
          .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info {
            width: 180px;
            margin: 0 auto; }
            .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name h4, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name p, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title h4, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title p, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info h4, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name h4, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title h4, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info h4, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name h4, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title h4, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info h4, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info p {
              color: #f0f0f2; }
            .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name h4, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title h4, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info h4, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name h4, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title h4, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info h4, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name h4, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title h4, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info h4 {
              margin-bottom: 15px; }
            .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name p, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title p, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info p {
              font-size: 13px;
              margin-bottom: 90px;
              font-style: italic; }
            .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold {
              height: 32px;
              width: 100%;
              position: relative;
              margin-bottom: 10px; }
              .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon {
                width: 32px;
                height: 32px;
                float: left;
                background-color: #ffffff;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                margin-right: 20px;
                background-position: center;
                background-repeat: no-repeat; }
                .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#num-dir, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#num-dir, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#num-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#num-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#num-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#num-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#num-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#num-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#num-dir {
                  background-image: url("../assets/images/gui/quienes_somos/directorio/ext-icon.png"); }
                .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#mail-dir, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#mail-dir, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#mail-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#mail-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#mail-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#mail-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#mail-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#mail-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#mail-dir {
                  background-image: url("../assets/images/gui/quienes_somos/directorio/correo-icon.png"); }
                .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#mas-dir, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#mas-dir, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#mas-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#mas-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#mas-dir, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#mas-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold .icon#mas-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold .icon#mas-dir, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold .icon#mas-dir {
                  background-image: url("../assets/images/gui/quienes_somos/directorio/mas-icon.png");
                  background-color: #e73541; }
              .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold p, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold p, .directorio_somos .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold p, .inSections .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .name .icon_hold p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .title .icon_hold p, .noticias_comunicacion .holdDirectorio .holdIntegrante .holdBotu .backInfo .btm_info .icon_hold p {
                position: relative;
                margin-bottom: 0;
                top: 11px;
                font-size: 13px;
                font-style: normal;
                float: left; }
  .directorio_somos .containerPopUp, .inSections .containerPopUp, .noticias_comunicacion .containerPopUp {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    lef: 0;
    background-color: rgba(174, 174, 174, 0.5);
    display: none; }
    .directorio_somos .containerPopUp .holdInfo, .inSections .containerPopUp .holdInfo, .noticias_comunicacion .containerPopUp .holdInfo {
      width: 880px;
      height: 630px;
      padding: 30px;
      background-color: #d2d2d2;
      top: 100px; }
      .directorio_somos .containerPopUp .holdInfo .holdTopinfo, .inSections .containerPopUp .holdInfo .holdTopinfo, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo {
        width: 100%;
        height: 320px;
        position: relative; }
        .directorio_somos .containerPopUp .holdInfo .holdTopinfo img, .inSections .containerPopUp .holdInfo .holdTopinfo img, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo img {
          height: 100%;
          position: relative;
          float: left;
          margin-right: 50px; }
        .directorio_somos .containerPopUp .holdInfo .holdTopinfo .close, .inSections .containerPopUp .holdInfo .holdTopinfo .close, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .close {
          width: 30px;
          height: 32px;
          position: absolute;
          top: 0;
          right: 0;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: #ffffff;
          background-image: url("../assets/images/gui/quienes_somos/directorio/close.png");
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer; }
        .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 {
          width: 610px;
          height: 290px;
          float: left;
          padding-top: 35px;
          position: relative;
          margin-bottom: 30px; }
          .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h3, .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h4, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h3, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h4, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h3, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h4 {
            text-align: left; }
          .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h3, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h3, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h3 {
            color: #e73541;
            font-weight: 700; }
          .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h4, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h4, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 h4 {
            color: #f0f0f2;
            font-style: italica; }
          .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2 .col p, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2 .col p, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 .col p {
            margin-bottom: 25px;
            color: #1d1d1d; }
            .directorio_somos .containerPopUp .holdInfo .holdTopinfo .holdInfo2 .col p span, .inSections .containerPopUp .holdInfo .holdTopinfo .holdInfo2 .col p span, .noticias_comunicacion .containerPopUp .holdInfo .holdTopinfo .holdInfo2 .col p span {
              font-weight: 700;
              color: #1d1d1d; }
      .directorio_somos .containerPopUp .holdInfo .lowInfo, .inSections .containerPopUp .holdInfo .lowInfo, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo {
        width: 100%; }
        .directorio_somos .containerPopUp .holdInfo .lowInfo h3, .inSections .containerPopUp .holdInfo .lowInfo h3, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo h3 {
          color: #e73541;
          margin-bottom: 15px; }
        .directorio_somos .containerPopUp .holdInfo .lowInfo ul, .inSections .containerPopUp .holdInfo .lowInfo ul, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo ul {
          float: left;
          width: 45%;
          padding-left: 2.5%; }
          .directorio_somos .containerPopUp .holdInfo .lowInfo ul li:before, .inSections .containerPopUp .holdInfo .lowInfo ul li:before, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo ul li:before {
            content: "•";
            font-style: 30px;
            font-weight: 700; }
          .directorio_somos .containerPopUp .holdInfo .lowInfo ul li, .inSections .containerPopUp .holdInfo .lowInfo ul li, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo ul li {
            padding-left: 10px; }
        .directorio_somos .containerPopUp .holdInfo .lowInfo .holdNavs, .inSections .containerPopUp .holdInfo .lowInfo .holdNavs, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo .holdNavs {
          width: 40px;
          height: 17px;
          position: absolute;
          bottom: 30px;
          right: 30px; }
          .directorio_somos .containerPopUp .holdInfo .lowInfo .holdNavs .btns, .inSections .containerPopUp .holdInfo .lowInfo .holdNavs .btns, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo .holdNavs .btns {
            width: 50%;
            height: 100%;
            position: relative;
            float: left;
            background-repeat: no-repeat;
            cursor: pointer; }
          .directorio_somos .containerPopUp .holdInfo .lowInfo .holdNavs .back, .inSections .containerPopUp .holdInfo .lowInfo .holdNavs .back, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo .holdNavs .back {
            background-image: url("../assets/images/gui/quienes_somos/directorio/back.png");
            background-position: left; }
          .directorio_somos .containerPopUp .holdInfo .lowInfo .holdNavs .next, .inSections .containerPopUp .holdInfo .lowInfo .holdNavs .next, .noticias_comunicacion .containerPopUp .holdInfo .lowInfo .holdNavs .next {
            background-image: url("../assets/images/gui/quienes_somos/directorio/next.png");
            background-position: right; }

.noticias_comunicacion .containerPopUp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  lef: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .noticias_comunicacion .containerPopUp .holdInfo {
    width: 900px;
    background-color: transparent; }
    .noticias_comunicacion .containerPopUp .holdInfo img {
      width: 100%;
      position: relative; }
    .noticias_comunicacion .containerPopUp .holdInfo .holdItInfo {
      width: 100%;
      height: 50px;
      padding-top: 20px;
      background-color: rgba(0, 0, 0, 0.5); }
      .noticias_comunicacion .containerPopUp .holdInfo .holdItInfo p {
        width: 860px;
        left: 20px;
        color: #ffffff; }
    .noticias_comunicacion .containerPopUp .holdInfo .closeIt {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url("../assets/images/gui/comunicacion/close.png");
      cursor: pointer; }

.organigrama_somos {
  background-color: #ffffff;
  padding-bottom: 20px; }
  .organigrama_somos h1 {
    margin-bottom: 10px !important; }
  .organigrama_somos .holdImg_organi {
    width: 960px;
    height: 660px;
    position: relative;
    margin: 0 auto;
    background-color: #e5e5e5; }
    .organigrama_somos .holdImg_organi img {
      width: 100%; }

.noticias_comunicacion {
  height: 1300px;
  padding-top: 40px; }
  .noticias_comunicacion .holdNotes, .noticias_comunicacion .hold_gals {
    width: 100%;
    height: 1200px;
    position: relative; }
    .noticias_comunicacion .holdNotes .section-half, .noticias_comunicacion .holdNotes .section-third, .noticias_comunicacion .hold_gals .section-half, .noticias_comunicacion .hold_gals .section-third {
      height: 400px;
      margin-bottom: 20px; }
    .noticias_comunicacion .holdNotes .section-half .noticiasInfo, .noticias_comunicacion .hold_gals .section-half .noticiasInfo {
      width: 100%; }
      .noticias_comunicacion .holdNotes .section-half .noticiasInfo .infoIn, .noticias_comunicacion .hold_gals .section-half .noticiasInfo .infoIn {
        height: 60px; }
        .noticias_comunicacion .holdNotes .section-half .noticiasInfo .infoIn p, .noticias_comunicacion .hold_gals .section-half .noticiasInfo .infoIn p {
          font-size: 24px; }
  .noticias_comunicacion .hold_gals {
    height: 1330px; }

footer {
  width: 100%;
  height: 50px;
  background-color: #ededed; }
  footer p {
    font-size: 12px;
    margin-left: 30px;
    top: 20px;
    position: relative; }

html, body {
  margin: 0 auto;
  min-width: 1000px;
  width: 100%;
  min-height: 800px;
  position: relative;
  font-family: "Lato";
  background-color: #e5e5e5; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #6e6e6e;
  text-decoration: none; }

p {
  margin: 0 auto; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: #fff;
  left: -3px; }

h2, h3 {
  font-size: 25px;
  margin: 0 auto;
  text-align: left;
  color: #363636; }

h3 {
  font-size: 20px; }

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: #e73541;
  font-style: normal;
  font-weight: 700; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

section {
  width: 100%;
  height: 360px;
  position: relative;
  padding-top: 25px; }

.section-half, .section-third {
  height: 85%;
  position: relative;
  float: left; }

.section-half {
  width: 50%; }

.section-third {
  width: 33.3%; }

.section-full {
  width: 100%; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.btn-borders {
  border-radius: 5px; }

.shodowiT {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(50, 50, 50, 0.53);
  -moz-box-shadow: 0px 0px 5px -1px rgba(50, 50, 50, 0.53);
  box-shadow: 0px 0px 5px -1px rgba(50, 50, 50, 0.53); }

#wrapper {
  width: 1000px;
  height: auto;
  margin: 0 auto; }
  #wrapper .redTag {
    width: 100%;
    height: 125px;
    position: relative;
    background-color: #e73541;
    padding-top: 25px; }
    #wrapper .redTag h3 {
      text-align: center;
      color: #f0f0f2; }
    #wrapper .redTag .holdinfo {
      width: 810px;
      height: 85px;
      position: relative;
      margin: 0 auto; }
      #wrapper .redTag .holdinfo .braket {
        width: 30px;
        height: 85px;
        position: relative;
        float: left;
        background-repeat: no-repeat;
        background-position: center; }
        #wrapper .redTag .holdinfo .braket.bleft {
          background-image: url("../assets/images/gui/home/bl.png"); }
        #wrapper .redTag .holdinfo .braket.bright {
          background-image: url("../assets/images/gui/home/br.png"); }
      #wrapper .redTag .holdinfo p {
        width: 710px;
        position: relative;
        float: left;
        text-align: center;
        color: #f0f0f2;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px; }

.inSections {
  width: 100%;
  height: auto;
  position: relative; }
  .inSections h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%; }
  .inSections h3 {
    text-align: center;
    margin-bottom: 25px; }
