nav
	.underNav
		.innerSub#nosotros-top_sub
			+btn_sub({link:'quienes_somos', name:'Quienes somos'})
			+btn_sub({link:'directorio', name:'Directorio'})
			+btn_sub({link:'organigrama', name:'Organigrama'})
		.innerSub#comunicacion-top_sub
			+btn_sub({link:'noticias', name:'Noticias'})
			+btn_sub({link:'galeria', name:'Galería'})
		.innerSub#municipios-top_sub
			+btn_sub({link:'sitios_de_interes', name:'Sitios de interes'})
			+btn_sub({link:'transparencia', name:'Transparencia'})
	.topNav
		.innertop
			a(href="#", target="_blank")
				.fb_top.btn-social
			a(href="#", target="_blank")
				.tt_top.btn-social
			a(href="#", target="_blank")
				.yt_top.btn-social
	.btmNav.shodowiT
		ul
			+btn_list({link:'nosotros', name:'ACERCA DE NOSOTROS', subMenu:'yes'})
			+btn_list({link:'servicios', name:'SERVICIOS', subMenu:'no'})
			+btn_list({link:'comunicacion', name:'COMUNICACIÓN', subMenu:'yes'})
			+btn_list({link:'municipios', name:'MUNICIPIOS', subMenu:'yes'})
			+btn_list({link:'contacto', name:'CONTACTO',  subMenu:'no' })
	a(href="/")
		.logo
			img(src="assets/images/gui/home/logo.jpg")
	