.contacto
	.titleSect
		.safeIn-area
			h1 Contacto
	.map
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3603.0396472271095!2d-100.915228!3d25.436937999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86880d8cf24b7249%3A0xa65424da0cff1876!2sCOMISI%C3%93N+ESTATAL+DE+AGUAS+Y+SANEAMIENTO+CEAS%2C+SALTILLO+COAHUILA!5e0!3m2!1ses!2smx!4v1421065537353" width="600" height="450" frameborder="0" style="border:0")
	.holdForm
		.safeIn-area
			h2 Escríbenos
			.section-half
				.holdInput
					input(type="text" class="name" name="name" placeholder="Nombre")
				.holdInput
					input(type="text" class="telefono" name="telefono" placeholder="Teléfono")
				.holdInput
					input(type="text" class="mail" name="email" placeholder="Email")

			.section-half
				.coment-area
					textarea(name="", cols="30", rows="10", placeholder="Comentarios")
				.sendBtn
					.btnHold
						.btn_plac.btn-borders
							p Enviar