.top_cover
	img(src="assets/images/gui/home/cover.jpg")
section
	.intro
		.copyIntro
			h1 CEAS Coahuila
			p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
			p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno.
		.imgIntro
			.medio_img.shodowiT
				.in
					img(src="assets/images/gui/home/img_gd.jpg")
section.more-home
+cuote({title:'Consejo del día', info:'Al momento de lavar tu coche, utiliza una tina o cubeta evitando el uso de la manguera, así ahorras agua y cuidas tus bolsillos.'})
section.noticias-home
section.noticias-home.galeria-home