include ../../../../mixins/_btns.jade
doctype html
html(lang="es")
	include ../../../_headers
	body
		#wrapper
			include ../../../_nav
			include _home
			include ../../../_footer
		include ../../../_scripts