.directorio_somos
	.subNav
		ul
			+btn_list2({link:'#', link:'controloria', active:'no', name:'Controloría ',name2:'Interna'})
			+btn_list2({link:'#', link:'coordinacion', active:'yes', name:'Coordinación de Cultura del Agua ',name2:'y Atención Ciudadana'})
			+btn_list2({link:'#', link:'admin', active:'no', name:'Dirección ',name2:'de Administración'})
			+btn_list2({link:'#', link:'general', active:'no', name:'Dirección ',name2:'General'})
			+btn_list2({link:'#', link:'juridica', active:'no', name:'Dirección Jurídica ',name2:'y de Procedimiento'})
			+btn_list2({link:'#', link:'tecnica', active:'no', name:'Dirección ',name2:'Técnica'})
	h1 Directorio 
	h3 Coordinación de Cultura del Agua y Atención Ciudadana
	.holdDirectorio
		+directory_crew({nameImg:'chica1', laId:'1', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'2', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chica1', laId:'3', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'4', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chica1', laId:'5', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'6', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chica1', laId:'7', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'8', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		