.directorio_somos
	.subNav
		ul
			+btn_list2({link:'#', link:'controloria', active:'no', name:'Controloría ',name2:'Interna'})
			+btn_list2({link:'#', link:'coordinacion', active:'yes', name:'Coordinación de Cultura del Agua ',name2:'y Atención Ciudadana'})
			+btn_list2({link:'#', link:'admin', active:'no', name:'Dirección ',name2:'de Administración'})
			+btn_list2({link:'#', link:'general', active:'no', name:'Dirección ',name2:'General'})
			+btn_list2({link:'#', link:'juridica', active:'no', name:'Dirección Jurídica ',name2:'y de Procedimiento'})
			+btn_list2({link:'#', link:'tecnica', active:'no', name:'Dirección ',name2:'Técnica'})
	h1 Directorio 
	h3 Coordinación de Cultura del Agua y Atención Ciudadana
	.holdDirectorio
		+directory_crew({nameImg:'chica1', laId:'1', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'2', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chica1', laId:'3', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'4', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chica1', laId:'5', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'6', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chica1', laId:'7', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
		+directory_crew({nameImg:'chico2', laId:'8', name:'Profesor Armando Villegas Velásquez',title:'Secretario Particular', numero:'Extensión 6519', correo:'corre@correo.com'})
	.containerPopUp
		.holdInfo.center-all
			.holdTopinfo
				img(src="http://www.ceascoahuila.gob.mx/qa/assets/images/gui/quienes_somos/directorio/chico2.jpg")
				.holdInfo2 
					h3 Profeso Armando Villegas Velazquez
					h4 Secretario Particular
					.col.section-half
						p 
							| <span>Puesto superio Inmediato</span><br>
							| Director General
						p 
							| <span>Puesto suplente</span><br>
							| Secretaria Privada
						p 
							| <span>Preparación Académica Requerida</span><br>
							| Universitaria
					.col.section-half
						p <span>Función Básica</span><br> Recibir, coordinar, operar, ordenar comunicar, recabar, atender, y recibir las instrucciones del Director General y comunicarlas a las Unidades Administrativas de la Comisión.
				.close.closePop

			.lowInfo
				h3 Funciones específicas
				ul.section-half
					li Recibir controlar y proponer al Director General los asuntos relacionados con la agenda, así como llevar el control y supervisión de los asuntos, citas y compromisos adquiridos.
					li Operar la oficialía de partes de la comisión.
					li Coordinar y supervisar los eventos oficiales del Director General.
					li Ordenar turnar y distribuir la correspondencia a las diferentes aéreas de la comisión y/o dependencias oficiales o privadas.
				ul.section-half
					li Recabar de las distintas unidades administrativas, informes, expedientes y/o documentos que tengan que ver con acuerdos y/o resoluciones de la Dirección General.
					li Atender a nombre del Director General al público que acuda a solicitar Recibir, turnar y remitir los oficios o comunicados que deban estar suscritos al Director General.
				.holdNavs
					.back.btns
					.next.btns


