.tercio_img
	width: 422px
	height: 292px
	position: relative
	background-color: $blanco
	.in
		width: 412px
		height: 282px
		position: relative
		margin-top: 5px
		margin-left: 5px
		overflow: hidden
		img 
			width: 100%
			position: absolute
			top: 0
			left: 0