.noticias_comunicacion, .noticias_display
	height: 1300px
	padding-top: 40px
	padding-bottom: 60px !important
	h2
		text-align: center
		margin-bottom: 30px
	.holdNotes, .hold_gals, .hold_news
		width: 100%
		height: 1200px
		position: relative

		.hold_main_new
			width: 100%
			height: auto
			padding-bottom: 60px
			.noticiasInfoFull
				height: auto !important
				.big_img
					height: 425px
					.in
						height: 415px
			.infoText
				width: 80%
				height: auto
				position: relative
				margin: 0 auto
				padding-bottom: 20px
				color: $font-negro
				p 
					margin-bottom: 20px
					color: $font-negro
				h2 
					text-align: left
					margin-bottom: 20px
			.videoFrame
				width: 775px
				height: 465px
				position: relative
				margin: 0 auto
				margin-bottom: 20px
				iframe
					width: 100% !important
					height: 100%
					border: 0
		.more-news
			width: 100%
			background-color: $gris
			height: 400px
			padding-bottom: 40px
			position: relative
			.go_news
				position: absolute
				bottom: 20px
				left: 40px
			
		.section-half, .section-third
			height: 400px
			margin-bottom: 20px


		.section-half .noticiasInfo
			width: 100%
			.infoIn 
				height: 60px
				p 
					font-size: 24px
	.hold_gals
		height: 1330px
	.hold_news
		height: auto
		
	.mainImg
		margin-bottom: 20px
.noticias_display
	padding-bottom: 0 !important

