.organigrama_somos.inSections
	.subNav
		ul
			+btn_list2({link:'#', link:'controloria', active:'no', name:'Controloría ',name2:'Interna'})
			+btn_list2({link:'#', link:'coordinacion', active:'no', name:'Coordinación de Cultura del Agua ',name2:'y Atención Ciudadana'})
			+btn_list2({link:'#', link:'admin', active:'yes', name:'Dirección ',name2:'de Administración'})
			+btn_list2({link:'#', link:'general', active:'no', name:'Dirección ',name2:'General'})
			+btn_list2({link:'#', link:'juridica', active:'no', name:'Dirección Jurídica ',name2:'y de Procedimiento'})
			+btn_list2({link:'#', link:'tecnica', active:'no', name:'Dirección ',name2:'Técnica'})

	h1 Organigrama 
	h3 Dirección de Administración
	.holdImg_organi
		img(src="")