.hold_gals
	.section-full
		.noticiasInfoFull
			.infoIn
				p Realizamos la instalación de  Plantas de Tratamientos 
			.date
				p 25/09/2014
			.imgSect
				+img_box({type:'big', elId:'home_main', locate:'home', name:'img_gd', infoBtn:'Ver galería'})

	.section-third
		.noticiasInfo.center-all
			.infoIn
				p Presentacón portal Gobierno Abierto.
			.date
				p 25/09/2014
			+img_box({type:'tercio', elId:'home_main-1', locate:'home', name:'img_ch', infoBtn:'Ver galería'})
	.section-third
		.noticiasInfo.center-all
			.infoIn
				p Presentacón portal Gobierno Abierto.
			.date
				p 25/09/2014
			+img_box({type:'tercio', elId:'home_main-2', locate:'home', name:'img_ch', infoBtn:'Ver galería'})
	.section-third
		.noticiasInfo.center-all
			.infoIn
				p Presentacón portal Gobierno Abierto.
			.date
				p 25/09/2014
			+img_box({type:'tercio', elId:'home_main-3', locate:'home', name:'img_ch', infoBtn:'Ver galería'})
	
	.section-third
		.noticiasInfo.center-all
			.infoIn
				p Presentacón portal Gobierno Abierto.
			.date
				p 25/09/2014
			+img_box({type:'tercio', elId:'home_main-5', locate:'home', name:'img_ch', infoBtn:'Ver galería'})
	.section-third
		.noticiasInfo.center-all
			.infoIn
				p Presentacón portal Gobierno Abierto.
			.date
				p 25/09/2014
			+img_box({type:'tercio', elId:'home_main-6', locate:'home', name:'img_ch', infoBtn:'Ver galería'})
	.section-third
		.noticiasInfo.center-all
			.infoIn
				p Presentacón portal Gobierno Abierto.
			.date
				p 25/09/2014
			+img_box({type:'tercio', elId:'home_main-7', locate:'home', name:'img_ch', infoBtn:'Ver galería'})
