.quines_somos
	.titleSect
		h1 Quiénes Somos
		.holdMids
			.colstxt.section-half
				P En la <span>Comisión Estatal de Aguas y Saneamiento</span> nos encargamos de emitir la normatividad técnica y operativa relativa al abastecimiento y dotación de los servicios de agua potable, incluyendo el alcantarillado y saneamiento que presten todos los municipios dentro del <span>Estado de Coahuila.</span>
			.colstxt.section-half
				P Todas las actividades y procesos los realizamos siempre con apoyo de las dependencias correspondientes y las entidades municipales que los tengan a su cargo. Nuestro compromiso, llevar agua potable a los ciudadanos de la entidad.
	.redTag
		.holdinfo
			.braket.bleft
			p Contribuimos a la salud y el bienestar social.
			.braket.bright
	.holdlowSect
		.section-third.sect
			.icono_sect
				.circle#mision
				h3 Misión
			.info
				p Proporcionar el servicio de suministro de agua potable en cantidad y calidad suficientes, así como el servicio eficiente de alcantarillado y drenaje, tanto de aguas pluviales como sanitarias, y sanear las aguas servidas a través de sistemas de tratamiento para disminuir la contaminación de los cuerpos receptores.
		.section-third.sect
			.icono_sect
				.circle#vision
				h3 Visión
			.info
				p Ampliar la cobertura y calidad en los servicios de agua potable, drenaje, alcantarillado y saneamiento que contribuyen a la higiene, la salud y el bienestar social.
		.section-third.sect
			.icono_sect
				.circle#objetivo
				h3 Objetivos
			.info
				p Incrementar y mejorar la infraestructura de los servicios de agua potable, drenaje, alcantarillado y tratamiento de aguas residuales.

